/* styles in src/style directory are applied to the whole page */
body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 75px;
  display: block;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background: rgba(0,0,0,.5);
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 5px;
  font-size: 0.8em;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button,
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.boards > div {
  float: left;
  width: calc(33.33% - 40px);
  margin: 10px;
  border-radius: 3px;
  padding: 10px;
}

.text-center {
  text-align: center;
}

ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
  background-color: rgba(255,255,255,.4);
  padding: 10px
}

ul[dnd-list] .dndDraggingSource {
  display: none;
}

ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

ul[dnd-list] li {
  display: block;
  color: black;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: move;
}

ul[dnd-list] li:last-child {
  margin-bottom: 0;
}

ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}
